{% extends 'layouts/base.html' %}

{% load static %}

{% block titlebar %}
Askme
{% endblock %}

{% block title %}
<div class="d-flex gap-4 align-pag_items-center">
    <h1>New Questions</h1>
    <h5><a href="{% url 'hot' %}">Hot Questions</a></h5>
</div>
{% endblock %}

{% block content %}
<div class="d-flex flex-column gap-3">
    {% for question in pag_items %}
    <div class="card w-100" style="width: 18rem;">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 col-5">
                    <div class="mx-auto" style="width: 50px; height: 50px;">
                        <img src="{{question.user.profile.avatar}}" class="img-fluid" alt="Card Image">
                    </div>
                    <div class="mt-4">
                        <p class="text-center">{{question.get_raiting_value}} votes</p>
                    </div>
                    <div class="d-flex justify-content-center gap-2">
                        <button type="button" class="btn btn-success">▲</button>
                        <button type="button" class="btn btn-danger">▼</button>
                    </div>
                </div>
                <div class="col-lg-9 col-7">
                    <a href="{% url 'question' question.id %}">
                        <h5 class="card-title">{{ question.title }}</h5>
                    </a>
                    <p class="card-text d-none d-md-block">{{ question.text }}</p>
                    <div class="d-flex gap-lg-5 gap-3">
                        <a href="{% url 'question' question.id %}" class="card-link">Answer ({{question.get_answers.count}})</a>
                        <div class="d-lg-flex gap-lg-2">
                            Tags:
                            {% for tag in question.tags.all %}
                            <a href="{% url 'tag' tag.tag %}" class=""><span class="badge text-bg-primary">{{tag.tag}}</span></a>
                            {% endfor %}
                            <!-- <a href="#" class=""><span class="badge text-bg-success">Tag-2</span></a>
                            <a href="#" class=""><span class="badge text-bg-warning">Tag-3</span></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% include 'blocks/paginator.html' %}
</div>
{% endblock %}