{% extends 'layouts/base.html' %}
{% load bootstrap5 %}

{% load static %}

{% block titlebar %} {{ question.title }} {% endblock %}

{% block content %}
<div class="d-flex flex-column gap-3">
    <div class="row">
        <div class="col-lg-3 col-5">
            <div class="mx-auto" style="width: 100px; height: 100px;">
                <img src="{{ question.user.profile.avatar }}" class="img-fluid" alt="Card Image">
            </div>
            <div class="mt-4">
                <p class="text-center">{{question.get_raiting_value}} votes</p>
            </div>
            <div class="d-flex justify-content-center gap-2">
                <button type="button" class="btn btn-success">▲</button>
                <button type="button" class="btn btn-danger">▼</button>
            </div>
        </div>
        <div class="col-lg-9 col-7">
            <h2>{{ question.title }}</h2>
            <p>{{ question.details }}</p>
            <div class="d-lg-flex gap-lg-2">
                Tags:

                {% for tag in question.tags.all %}
                <a href="{% url 'tag' tag.tag %}" class=""><span class="badge text-bg-primary">{{tag.tag}}</span></a>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
    <h3>{{question.get_answers.count}} Answers</h3>
    {% for answer in pag_items %}
    <div class="card w-100" style="width: 18rem;">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 col-5">
                    <div class="mx-auto" style="width: 50px; height: 50px;">
                        <img src="{{ answer.user.profile.avatar }}" class="img-fluid" alt="Card Image">
                    </div>
                    <div class="mt-4">
                        <p class="text-center">{{ answer.get_raiting_value }} votes</p>
                    </div>
                    <div class="d-flex justify-content-center gap-2">
                        <button type="button" class="btn btn-success">▲</button>
                        <button type="button" class="btn btn-danger">▼</button>
                    </div>
                </div>
                <div class="col-lg-9 col-7">
                    <p class="card-text">{{ answer.content }}</p>
                    <div class="d-flex gap-lg-5 gap-3">
                        <div class="form-check">
                            {% if answer.is_correct %}
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked disabled>
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled>
                            {% endif %}
                            <label class="form-check-label" for="flexCheckChecked">
                                Correct
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% include 'blocks/paginator.html' %}
    <hr>
    <h3>Your Answer</h3>
    <form action="{% url 'question'  question_id  %}" method="POST">
        {% csrf_token %}

        {% bootstrap_form form %}

        {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
    </form>
</div>
<br>
{% endblock %}