{% extends 'layouts/base.html' %}
{% load bootstrap5 %}

{% block titlebar %} {{ user.username }} {% endblock %}

{% block title %}
<h1>Профиль {{ user.username }}</h1>
{% endblock %}

{% block content %}
    <form class="col-lg-9" enctype="multipart/form-data" action="{% url 'profile.edit' %}" method="POST">
        {% csrf_token %}

        {% bootstrap_messages %}

        {% bootstrap_form user_form %}
        {% bootstrap_form profile_form %}

        {% buttons %}
        <button type="submit" class="btn btn-primary">Save</button>
        {% endbuttons %}
    </form>
{% endblock %}
