{% extends 'layouts/base.html' %}
{% load bootstrap5 %}

{% block titlebar %} Sigup {% endblock %}

{% block title %}
<h1>Register</h1>
{% endblock %}

{% block content %}
    <form class="col-lg-9" enctype="multipart/form-data" action="{% url 'signup' %}" method="POST">
        {% csrf_token %}

        {% bootstrap_form form %}

        {% buttons %}
        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
        <button type="submit" class="btn btn-primary">Signup!</button>
        {% endbuttons %}
    </form>
{% endblock %}
